# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
* Popular languages for Data Science
* Commonly used libraries for Data Science
* Known data science tools

Some of the popular languages that Data Scientists use are: 
1. Python 
2. R 
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. PyTorch
3. Seaborn

| Data Science Tools |
| ------------------ |
| Anaconda |
| Visual Studio Code |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

 This a simple arithmetic expression to mutiply then add integers: (3*4)+5

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

## Author

Sara